/Library
/Temp
Unity.VisualEffectGraph.Editor.csproj
Unity.VisualEffectGraph.Runtime.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.Core.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.State.Editor.csproj
Unity.VisualScripting.State.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
Unity.PlasticSCM.Editor.csproj
Unity.RenderPipelines.Core.Editor.Shared.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Runtime.Shared.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.GPUDriven.Runtime.csproj
Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
Unity.RenderPipelines.HighDefinition.Editor.csproj
Unity.RenderPipelines.HighDefinition.Runtime.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.Rendering.LightTransport.Editor.csproj
Unity.Rendering.LightTransport.Runtime.csproj
Unity.Rider.Editor.csproj
Unity.Searcher.Editor.csproj
Unity.Settings.Editor.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
Unity.TestTools.CodeCoverage.Editor.csproj
Unity.TextMeshPro.Editor.csproj
 Unity.Burst.Editor.csproj
Unity.Burst.csproj
Unity.CollabProxy.Editor.csproj
Unity.Collections.CodeGen.csproj
Unity.Collections.Editor.csproj
Unity.Collections.csproj
Unity.EditorCoroutines.Editor.csproj
Unity.InputSystem.DocCodeSamples.csproj
Unity.InputSystem.ForUI.csproj
Unity.InputSystem.TestFramework.csproj
Unity.InputSystem.csproj
Unity.Mathematics.Editor.csproj
Unity.Mathematics.csproj
Unity.Multiplayer.Center.Common.csproj
Unity.Multiplayer.Center.Editor.csproj
Unity.Performance.Profile-Analyzer.Editor.csproj
Unity.PerformanceTesting.Editor.csproj
Unity.PerformanceTesting.csproj
Unity.PlasticSCM.Editor.csproj
Unity.RenderPipelines.Core.Editor.Shared.csproj
Logs/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.Editor.csproj
Unity.TextMeshPro.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualStudio.Editor.csproj
.vscode/
.vsconfig
Packages/